<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Servlets.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteAgregarServlet</servlet-name>
        <servlet-class>Servlets.ClienteAgregarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioAgregarServlet</servlet-name>
        <servlet-class>Servlets.UsuarioAgregarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioEditarServlet</servlet-name>
        <servlet-class>Servlets.UsuarioEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>Servlets.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoAgregarServlet</servlet-name>
        <servlet-class>Servlets.ProductoAgregarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proveedor_Agregar</servlet-name>
        <servlet-class>Servlets.Proveedor_Agregar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteAgregarServlet</servlet-name>
        <url-pattern>/Agregar_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioAgregarServlet</servlet-name>
        <url-pattern>/Agregar_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioEditarServlet</servlet-name>
        <url-pattern>/Editar_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/Productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoAgregarServlet</servlet-name>
        <url-pattern>/Agregar_Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proveedor_Agregar</servlet-name>
        <url-pattern>/Proveedor_Agregar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
